.atomsHolder div {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 25px;
<<<<<<< HEAD
  font-family: Verdana;
  user-select: none;
=======
  user-select: none;

  /* font-family: Verdana; */
>>>>>>> extended_menu
}

.connsHolder div {
  z-index: 1;
  padding: 0;
  margin: 0;
  border: 0 solid black;
  background-color: black;
  line-height: 1px;
  position: absolute;
}

/* wiązania */
.connection1 {
  height: 5px;
}

.connection2 {
  height: 15px;
  clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% calc(100% / 3),
      0% calc(100% / 3),
      0% calc(100% / 3 * 2),
      100% calc(100% / 3 * 2),
      100% 100%,
      0% 100%
    );
}

.connection3 {
  height: 25px;
  clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% calc(100% / 5),
      0% calc(100% / 5),
      0% calc(100% / 5 * 2),
      100% calc(100% / 5 * 2),
      100% calc(100% / 5 * 3),
      0% calc(100% / 5 * 3),
      0% calc(100% / 5 * 4),
      100% calc(100% / 5 * 4),
      100% 100%,
      0% 100%
    );
}

.connection4 {
  height: 35px;
  clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% calc(100% / 7),
      0% calc(100% / 7),
      0% calc(100% / 7 * 2),
      100% calc(100% / 7 * 2),
      100% calc(100% / 7 * 3),
      0% calc(100% / 7 * 3),
      0% calc(100% / 7 * 4),
      100% calc(100% / 7 * 4),
      100% calc(100% / 7 * 5),
      0% calc(100% / 7 * 5),
      0% calc(100% / 7 * 6),
      100% calc(100% / 7 * 6),
      100% 100%,
      0% 100%
    );
}

.connection5 {
  height: 45px;
  clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% calc(100% / 9),
      0% calc(100% / 9),
      0% calc(100% / 9 * 2),
      100% calc(100% / 9 * 2),
      100% calc(100% / 9 * 3),
      0% calc(100% / 9 * 3),
      0% calc(100% / 9 * 4),
      100% calc(100% / 9 * 4),
      100% calc(100% / 9 * 5),
      0% calc(100% / 9 * 5),
      0% calc(100% / 9 * 6),
      100% calc(100% / 9 * 6),
      100% calc(100% / 9 * 7),
      0% calc(100% / 9 * 7),
      0% calc(100% / 9 * 8),
      100% calc(100% / 9 * 8),
      100% 100%,
      0% 100%
    );
}

.connection6 {
  height: 55px;
  clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% calc(100% / 11),
      0% calc(100% / 11),
      0% calc(100% / 11 * 2),
      100% calc(100% / 11 * 2),
      100% calc(100% / 11 * 3),
      0% calc(100% / 11 * 3),
      0% calc(100% / 11 * 4),
      100% calc(100% / 11 * 4),
      100% calc(100% / 11 * 5),
      0% calc(100% / 11 * 5),
      0% calc(100% / 11 * 6),
      100% calc(100% / 11 * 6),
      100% calc(100% / 11 * 7),
      0% calc(100% / 11 * 7),
      0% calc(100% / 11 * 8),
      100% calc(100% / 11 * 8),
      100% calc(100% / 11 * 9),
      0% calc(100% / 11 * 9),
      0% calc(100% / 11 * 10),
      100% calc(100% / 11 * 10),
      100% 100%,
      0% 100%
    );
}

.connection7 {
  height: 65px;
  clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% calc(100% / 13),
      0% calc(100% / 13),
      0% calc(100% / 13 * 2),
      100% calc(100% / 13 * 2),
      100% calc(100% / 13 * 3),
      0% calc(100% / 13 * 3),
      0% calc(100% / 13 * 4),
      100% calc(100% / 13 * 4),
      100% calc(100% / 13 * 5),
      0% calc(100% / 13 * 5),
      0% calc(100% / 13 * 6),
      100% calc(100% / 13 * 6),
      100% calc(100% / 13 * 7),
      0% calc(100% / 13 * 7),
      0% calc(100% / 13 * 8),
      100% calc(100% / 13 * 8),
      100% calc(100% / 13 * 9),
      0% calc(100% / 13 * 9),
      0% calc(100% / 13 * 10),
      100% calc(100% / 13 * 10),
      100% calc(100% / 13 * 11),
      0% calc(100% / 13 * 11),
      0% calc(100% / 13 * 12),
      100% calc(100% / 13 * 12),
      100% 100%,
      0% 100%
    );
}

.connection8 {
  height: 70px;
  clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% calc(100% / 15),
      0% calc(100% / 15),
      0% calc(100% / 15 * 2),
      100% calc(100% / 15 * 2),
      100% calc(100% / 15 * 3),
      0% calc(100% / 15 * 3),
      0% calc(100% / 15 * 4),
      100% calc(100% / 15 * 4),
      100% calc(100% / 15 * 5),
      0% calc(100% / 15 * 5),
      0% calc(100% / 15 * 6),
      100% calc(100% / 15 * 6),
      100% calc(100% / 15 * 7),
      0% calc(100% / 15 * 7),
      0% calc(100% / 15 * 8),
      100% calc(100% / 15 * 8),
      100% calc(100% / 15 * 9),
      0% calc(100% / 15 * 9),
      0% calc(100% / 15 * 10),
      100% calc(100% / 15 * 10),
      100% calc(100% / 15 * 11),
      0% calc(100% / 15 * 11),
      0% calc(100% / 15 * 12),
      100% calc(100% / 15 * 12),
      100% calc(100% / 15 * 13),
      0% calc(100% / 15 * 13),
      0% calc(100% / 15 * 14),
      100% calc(100% / 15 * 14),
      100% 100%,
      0% 100%
    );
}

.connection9 {
  height: 70px;
  clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% calc(100% / 17),
      0% calc(100% / 17),
      0% calc(100% / 17 * 2),
      100% calc(100% / 17 * 2),
      100% calc(100% / 17 * 3),
      0% calc(100% / 17 * 3),
      0% calc(100% / 17 * 4),
      100% calc(100% / 17 * 4),
      100% calc(100% / 17 * 5),
      0% calc(100% / 17 * 5),
      0% calc(100% / 17 * 6),
      100% calc(100% / 17 * 6),
      100% calc(100% / 17 * 7),
      0% calc(100% / 17 * 7),
      0% calc(100% / 17 * 8),
      100% calc(100% / 17 * 8),
      100% calc(100% / 17 * 9),
      0% calc(100% / 17 * 9),
      0% calc(100% / 17 * 10),
      100% calc(100% / 17 * 10),
      100% calc(100% / 17 * 11),
      0% calc(100% / 17 * 11),
      0% calc(100% / 17 * 12),
      100% calc(100% / 17 * 12),
      100% calc(100% / 17 * 13),
      0% calc(100% / 17 * 13),
      0% calc(100% / 17 * 14),
      100% calc(100% / 17 * 14),
      100% calc(100% / 17 * 15),
      0% calc(100% / 17 * 15),
      0% calc(100% / 17 * 16),
      100% calc(100% / 17 * 16),
      100% 100%,
      0% 100%
    );
}
