/* stylelint-disable selector-id-pattern */

/* helper */
.wizualizacjaDanych {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 5px;
  padding: 5px;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  max-width: 1150px;
  max-height: 810px;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  border: 10px solid rgb(85 66 194);
  border-radius: 20px;
}

.wizualizacjaDanych > div {
  position: relative;
}

.workspace{
  position: fixed;
  width: calc(100% - 68px);
  height: calc(100% - 85px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
