/* stylelint-disable selector-id-pattern */

/* pomocnicze */
#wizualizacjaDanych {
  position: fixed;
  width: calc(100% - 60px);
  height: calc(100% - 80px);
  margin: 50px;
  padding: 100px;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  width: 80%;
  min-width: 620px;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  height: 700px;
  border: 10px solid rgb(85 66 194);
  border-radius: 20px;
}

#wizualizacjaDanych > div {
  position: relative;
}
