/* stylelint-disable selector-id-pattern */

/* pomocnicze */
#wizualizacjaDanych {
  position: relative;
  top: 20px;
  margin: 30px;
  padding: 20px;
  width: 80%;
  height: 87vh;
  border: 10px solid rgb(85 66 194);
  border-radius: 20px;
}

#wizualizacjaDanych > div {
  position: relative;
}
